

<mat-toolbar color = "primary">
    <span>Creación de Maleta</span>
 </mat-toolbar>

<mat-card-content>
    <form class="my-form">
      <mat-form-field class="full-width">
        <mat-label>ID</mat-label>
        <input  matInput  placeholder="1"  name="id"  [formControl]="id" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Color</mat-label>
        <input  matInput  placeholder="Rojo" name="color"  [formControl]="color" required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Peso</mat-label>
        <input  matInput  placeholder="15" name="peso"  [formControl]="peso" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Costo</mat-label>
        <input  matInput  placeholder="100" name="costo" [formControl]="costo" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Estado</mat-label>
        <input  matInput  placeholder="Aprobado / Reprobado"  name="carnet" [formControl]="estado" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Cedula</mat-label>
        <input  matInput  placeholder="142645121"  name="cedula" [formControl]="cedula" required>
      </mat-form-field>

      <mat-form-field class="full-width">
          <mat-label>ID Bag Cart</mat-label>
          <input  matInput  placeholder="1"  name="bagCart" [formControl]="bagCart" required>
        </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions class = "actionButtons">
      <button mat-raised-button routerLink="../maletas" color="warn">CANCELAR</button>
      <button mat-raised-button (click)="sendPost()" color="primary">CREAR</button>
  </mat-card-actions>