<mat-toolbar color = "primary">
    <span>Creación de Cliente</span>
 </mat-toolbar>

<!-- Foro para llenar informacion para la creacion de clientes -->
<mat-card-content>
    <form class="my-form">
       <mat-form-field class="full-width">
         <mat-label>Nombre</mat-label>
         <input  matInput  placeholder="John"  name="nombre"  [formControl]="nombre" required>
      </mat-form-field>

      <mat-form-field class="full-width">
         <mat-label>Apellido</mat-label>
         <input  matInput  placeholder="Doe" name="apellido"  [formControl]="apellido" required>
      </mat-form-field>

      <mat-form-field class="full-width">
         <mat-label>Cedula</mat-label>
         <input  matInput  placeholder="14100012" name="cedula"  [formControl]="cedula" required>
      </mat-form-field>

      <mat-form-field class="full-width">
         <mat-label>Telefono</mat-label>
         <input  matInput  placeholder="89897413" name="telefono" [formControl]="telefono" required>
      </mat-form-field>

      <mat-form-field class="full-width">
         <mat-label>Correo</mat-label>
         <input  matInput  placeholder="correo@correo.com" name="correo" [formControl]="correo" required>
      </mat-form-field>

      <mat-form-field class="full-width">
         <mat-label>Carnet</mat-label>
         <input  matInput  placeholder="201515359388"  name="carnet" [formControl]="carnet" required>
      </mat-form-field>

    </form>
  </mat-card-content>

  <!-- botones de accion para la navegacion -->
  <mat-card-actions class = "actionButtons">
      <button mat-raised-button routerLink="../clientes" color="warn">CANCELAR</button>
      <button mat-raised-button (click)="sendPost()" color="primary">CREAR</button>
  </mat-card-actions>