<app-nav> </app-nav>

<mat-divider></mat-divider>
<!-- Botones de accion para la creacion o edicion de Maletas -->
<div class="buttons" >
    <a mat-flat-button color ="primary" routerLink="../createMaletas">Agregar</a>
    <a mat-flat-button color ="warn" routerLink="../editMaletas">Editar</a>
</div>

<mat-divider></mat-divider>

<!-- Barra de Filtro -->
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
</mat-form-field>

<!-- Tabla de despliegue de Maletas -->
<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z9">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID</th>
                <td mat-cell *matCellDef="let maletas">{{maletas.bagID}}</td>
            </ng-container>
        
            <ng-container matColumnDef="color">
                <th mat-header-cell *matHeaderCellDef> Color</th>
                <td mat-cell *matCellDef="let maletas">{{maletas.color}}</td>
            </ng-container>
        
            <ng-container matColumnDef="peso">
                <th mat-header-cell *matHeaderCellDef> Peso</th>
                <td mat-cell *matCellDef="let maletas">{{maletas.peso}}</td>
            </ng-container>
        
            <ng-container matColumnDef="costo">
                <th mat-header-cell *matHeaderCellDef> Costo</th>
                <td mat-cell *matCellDef="let maletas">{{maletas.costo}}</td>
            </ng-container>
        
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado</th>
                <td mat-cell *matCellDef="let maletas">{{maletas.estado}}</td>
            </ng-container>
        
            <ng-container matColumnDef="clientid">
                <th mat-header-cell *matHeaderCellDef> Cedula</th>
                <td mat-cell *matCellDef="let maletas">{{maletas.clientid}}</td>
            </ng-container>

            <ng-container matColumnDef="bagCart">
                <th mat-header-cell *matHeaderCellDef> ID Bag Cart</th>
                <td mat-cell *matCellDef="let maletas">{{maletas.id}}</td>
            </ng-container>
        
        
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
        </table>
</div>



