<mat-toolbar color="warn">
  <span>Editar Bag Cart</span>
</mat-toolbar>
<!-- Informacion para el foro de edicion de bag Carts -->
<mat-card-content>
  <form class="my-form">
    <mat-form-field class="full-width">
          <mat-label>ID</mat-label>
          <input matInput placeholder="1" name="id" [formControl]="id" required>
      </mat-form-field>

    <mat-form-field class="full-width">
          <mat-label>Marca</mat-label>
          <input matInput placeholder="Honda" name="marca" [formControl]="marca">
      </mat-form-field>

    <mat-form-field class="full-width">
          <mat-label>Modelo</mat-label>
          <input matInput placeholder="2019" name="modelo" [formControl]="modelo">
      </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>ID Vuelo</mat-label>
        <input matInput placeholder="1" name="vuelo" [formControl]="vuelo">
    </mat-form-field>  

  </form>
</mat-card-content>

<mat-card-actions class = "actionButtons">
    <button mat-raised-button routerLink="../bagCarts" color="warn">CANCELAR</button>
    <button mat-raised-button (click)="sendPost()" color="primary">EDITAR</button>
</mat-card-actions>