<app-nav> </app-nav>

<mat-divider></mat-divider>
<!-- Crea Botones para la redireccion hacia las paginas de createBagCarts, editBagCarts y cerrarBagCarts -->
<div class="buttons" >
    <a mat-flat-button color ="primary" routerLink="../createBagCarts">Agregar</a>
    <a mat-flat-button color ="warn" routerLink="../editBagCarts">Editar</a>
    <a mat-flat-button color ="primary" routerLink="../cerrarBagCarts">Cerrar</a>

</div>

<mat-divider></mat-divider>

<!-- Buscador para la tabla de bag Carts -->
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
</mat-form-field>

<!-- Tabla de Bag Carts -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z9">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID</th>
        <td mat-cell *matCellDef="let bagCart">{{bagCart.id}}</td>
    </ng-container>

    <ng-container matColumnDef="marca">
            <th mat-header-cell *matHeaderCellDef> Brand</th>
            <td mat-cell *matCellDef="let bagCart">{{bagCart.marca}}</td>
        </ng-container>

    <ng-container matColumnDef="modelo">
            <th mat-header-cell *matHeaderCellDef> Model</th>
            <td mat-cell *matCellDef="let bagCart">{{bagCart.modelo}}</td>
    </ng-container>

    <ng-container matColumnDef="sec_code">
            <th mat-header-cell *matHeaderCellDef> Security Code</th>
            <td mat-cell *matCellDef="let bagCart">{{bagCart.sec_code}}</td>
    </ng-container>

    <ng-container matColumnDef="vuelo">
        <th mat-header-cell *matHeaderCellDef> ID Vuelo</th>
        <td mat-cell *matCellDef="let bagCart">{{bagCart.vuelo}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>